doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Bakery
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="css/main.css")

	body
		div.loader
			div.loader_inner

		.main-section
			.header-wrap
				header

					.logo-wrap
						.logo 
							a(href="#") Gustoso

					nav
						ul
							li
								a(href="#") Welcome
							li
								a(href="#") Menu
							li
								a(href="#") Reservations
							li
								a(href="#") News
							li
								a(href="#") Contac
				
					ul.header__social
						li
							img(src="images/twitter.png" alt="")
						li
							img(src="images/facebook.png" alt="")
						li
							img(src="images/instagram.png" alt="")

					.toggle-wrap
						.toggle-button
							span.sandwich
								span.sw-topper 
								span.sw-bottom 
								span.sw-footer 

			h1 Pastry with love

			.h1-descrip We’re bringing you fresh ingredients every day in ways you can’t resist.

			.main-section__button
				a(href="#") Our menu

		.section-wrap.sw_first
			section.section-1

				.section-1__left

					h3 Art of cakes
						span.h3-descrip we create delicious memories

					p.section__text.
						Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.

					h4 Chef Cook

					.section-1__cheef
						.name Benito
						.center 
							img(src="images/cheef.jpg" alt="")
						.name Gaspare

					.quate.top_quate “
					p.section-1__quote Unique creations for unique <br /> occasions
					.quate.bottom_quate ”

				.section-1__right
					img(src="images/section_1_right.jpg" alt="")

		.section-wrap.sw_second
			section.section-2

				.section-2__recipes

					.section-2__left
						
					.section-2__right
						h3 Tasty pancakes
							span.h3-descrip season favourite

						.section-2__ready
							.title ready in
							.time 40
							.mins mins
							
						p.
							Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.

						

						.section-2__menu
							img(src="images/section-2__recipes_menu.png" alt="")

						.section-2__slider

							.slide
								img(src="images/slide_1.jpg" alt="")
							.slide
								img(src="images/slide_2.jpg" alt="")
							.slide
								img(src="images/slide_3.jpg" alt="")
							.slide
								img(src="images/slide_2.jpg" alt="")
							.slide
								img(src="images/slide_1.jpg" alt="")
							.slide
								img(src="images/slide_3.jpg" alt="")
							.slide
								img(src="images/slide_3.jpg" alt="")

		
		.section-wrap.sw_third
			section.section-3
			
				.section-3__left

					h2 Breakfast
					.h2-descrip 7am Breakfast? we’re open!	

					h4 Full breakfast
					p Duis ut tortor, et risus, vulputate pretium
					.section-3__price $12.49

					h4 Toast &#38; Jam
					p Suspendisse, tempus, nterdum
					.section-3__price $4.9

					h4 Muffins
					p Fusce eget dui sodales est
					.section-3__price $3.95

				.section-3__right
					.section-3__right-inner

						.section-3__right-header 
							.left EST.
							.right 1893

						h3 Your morning Escape with Flair

						p.section__text.
							Donec vitae sapien ut libero venenatis faucibus. 
							Nullam quis ante. Etiam sit amet orci eget eros
							faucibus tincidunt. Duis leo.

						.section-3__more
							a(href="#") Read


		.section-wrap.sw-fourth
			section.section-4

				h3 The Jibarito sandwich
					span.h3-descrip the best sandwich you’ve ever tasted!

				.section-4__left

					.section-4__left-item
						img(src="images/section-4__left_1.jpg" alt="")
						h4 Class aptent
						p Quot alienum persecuti ut eam, nam ad atqui primis nusquam

					.section-4__left-item
						img(src="images/section-4__left_1.jpg" alt="")
						h4 Class aptent
						p Quot alienum persecuti ut eam, nam ad atqui primis nusquam
					
					.section-4__left-item
						img(src="images/section-4__left_1.jpg" alt="")
						h4 Class aptent
						p Quot alienum persecuti ut eam, nam ad atqui primis nusquam

				.section-4__right
					img(src="images/section-4__right.jpg" alt="")
					a(href="#") full recipe

		.footer-wrap
			footer
				nav.footer__right
					ul
						li
							a(href="#") our menu
						li
							a(href="#") gallery 
						li
							a(href="#") culture

				.footer__logo
					a(href="#") Gustoso

				nav.footer__right
					ul
						li
							a(href="#") events
						li
							a(href="#") catering 
						li
							a(href="#") visit us


		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="js/custom.js")
