@media screen and (max-width: 1280px)
	
	header, section, footer
		padding-right: 10px
		padding-left: 10px


	.main-section

		.header-wrap

			header

				nav

					ul

						li
							a
								
								&:after
									content: " "
									position: absolute
									width: 10px
									height: 4px
									top: 15px
									right: -5px
									display: none


@media screen and (max-width: 1024px)

	.main-section

		.header-wrap

			header

				nav
					width: 73%

		.h1-descrip
			width: 75%
			margin-bottom: 10vh

	.sw_second
		
		.section-2

			.section-2__recipes

				.section-2__left
					display: none

				.section-2__right
					width: 80%
					margin-left: auto
					margin-right: auto
					h3
						width: 80%
						line-height: 40px

					.section-2__ready
						font-family: "Alegreya-Bold"
						text-align: center
						width: 150px
						height: 150px
						right: -75px
					
					.section-2__menu
						display: none

	.sw-fourth
		background: url(../images/sw-fourth_bg.jpg) no-repeat
		background-size: cover
		text-align: center

		.section-4
			overflow: hidden
		
			.section-4__left
				float: left
				width: 300px

				.section-4__left-item
					
					img	
						border-radius: 100%

					h4
						color: #a47d5e

			.section-4__right
				float: right
				width: 50%

				img
					width: 100%

@media screen and (max-width: 890px)

	.main-section

		.header-wrap

			header
				position: relative

				nav
					width: 300px
					position: absolute
					top: 70px
					right: 0
					background: rgba(86, 83, 76, 0.8	)
					z-index: 1
					opacity: 0
					transition: all 0.5s ease
					display: none


					ul
						display: flex
						flex-direction: column

						li
							width: 100%
							a
								font-size: 14px
								font-family: "Alegreya-Regular"
								text-transform: uppercase
								letter-spacing: 3px
								display: block
								position: relative
								padding: 15px 0
							
				.toggle-wrap
					overflow: hidden
					display: block
					height: 45px

		h1
			margin: 15vh 0 12vh 0

@media screen and (max-width: 800px)
	
	h1
		font-size: 60px
		color: #fff
		font-family: "PlayfairDisplay"
	
	h2
		font-size: 48px
		color: #fff
		font-family: "Alegreya-Bold"

	h3
		font-size: 36px
		font-family: "Alegreya-Bold"
		color: #56534c
		margin-bottom: 60px

	.h3-descrip
		font-size: 14px
		color: #a47d5e
		font-family: "Alegreya-Bold"
		text-transform: uppercase
		display: block

	.sw_first

		.section-1
			display: block
			padding-top: 0

			.section-1__left
				text-align: center
				width: 90%
				margin-left: auto
				margin-right: auto

			.section-1__right
				width: 80%
				margin-left: auto
				margin-right: auto

	.footer-wrap

		footer
			display: flex
			flex-direction: column
			align-items: center

			nav
				width: 100%

				ul
					li
						a
							padding: 15px
							&:after
								display: none


			.footer__logo
				margin: 10px 0

				a
					line-height: 70px
					position: static

@media screen and (max-width: 640px)

	h1
		font-size: 74px

	.h1-descrip
		width: 75%
		margin-bottom: 6vh

	.sw_second
		
		.section-2

			.section-2__recipes
				width: 90%

				.section-2__left
					display: none

				.section-2__right
					width: 100%
					margin-left: auto
					margin-right: auto
					h3
						width: 100%
						line-height: 40px
						margin-bottom: 10px

					.section-2__ready
						font-family: "Alegreya-Bold"
						text-align: center
						width: 100%
						height: auto
						box-shadow: 0 5px 15px rgba(105, 80, 58, 0.45)
						position: static
						padding: 5px 0
						margin-bottom: 30px

	.sw_third
		background: url(../images/section-3_bg.jpg) no-repeat
		background-size: cover

		h4
			color: #fff

		.section-3
			display: flex
			flex-direction: column
			align-items: center
		
			.section-3__left
				width: 80%
				text-align: center
				color: #c2beba
				margin-bottom: 30px

			.section-3__right
				width: 90%
				overflow: hidden

	.sw-fourth

		.section-4
			overflow: hidden
		
			.section-4__left
				float: none
				width: 100%

				.section-4__left-item
					margin-bottom: 30px
					
					img	
						border-radius: 100%

					h4
						color: #a47d5e

			.section-4__right
				float: none
				width: 100%

				img
					width: 100%

@media screen and (max-width: 480px)
	
	.main-section
		.header-wrap

			header
				display: block
				padding-top: 20px
				height: 100px
				
				nav
					top: 100px

				.logo-wrap
					margin-bottom: 20px
					.logo 
						a
							font-size: 30px
							font-family: "Scriptina"
							line-height: 12px
							letter-spacing: 4px
				
				.header__social
					width: 95px
					display: flex
					justify-content: space-between
					float: left

				.toggle-wrap

					.toggle-button
						margin: 0 10px 0 0
		
		h1
			font-size: 64px
			margin: 10vh 0 12vh 0

		.h1-descrip
			width: 100%



@media screen and (max-width: 375px)
	
	.sw_first
		.section-1

			.section-1__left

				.section-1__cheef
					display: flex
					width: 80%
					margin: 30px auto 0
					justify-content: center
					align-items: center


					.center
						line-height: 0
						margin: 0 15px

						img
							border-radius: 100%

					.name
						font-size: 24px
						font-family: "Alegreya-Regular"
						padding: 15px 5px
						border-top: 1px solid #c2c1be
						border-bottom: 1px solid #c2c1be

				.section-1__quote
					font-size: 24px
					line-height: 30px
					font-family: "Scriptina"
					color: #a47d5e

				.quate
					font-size: 60px
					line-height: 24px
					color: #bebdbb
					width: 60%
					margin-left: auto
					margin-right: auto
				
				.top_quate
					margin-top: 30px
					text-align: left
					margin-bottom: -10px

				.bottom_quate
					text-align: right
					margin-top: -10px
	
	.sw_third

		.section-3
			display: flex
			flex-direction: column
			align-items: center
		
			.section-3__left
				width: 80%
				text-align: center
				color: #c2beba
				margin-bottom: 30px

			.section-3__right
				width: 90%
				overflow: hidden

				.section-3__right-inner

					h3
						margin-top: 20px
						margin-bottom: 20px

	.footer-wrap

		footer

			nav
				width: 100%

				ul
					flex-direction: column
					align-items: center

					li
						width: 70%
						text-align: center

			.footer__logo
				margin: 10px 0

				a
					line-height: 70px
					position: static
