@import "bourbon"
@import reset

+font-face("ProximaNova-Regular", "../fonts/ProximaNova-Regular/ProximaNova-Regular", $file-formats: eot woff ttf otf svg)
+font-face("Alegreya-Bold", "../fonts/Alegreya-Bold/Alegreya-Bold", $file-formats: eot woff ttf otf svg)
+font-face("Alegreya-Regular", "../fonts/Alegreya-Regular/Alegreya-Regular", $file-formats: eot woff ttf otf svg)
+font-face("Scriptina", "../fonts/Scriptina/Scriptina", $file-formats: eot woff ttf svg)
+font-face("PlayfairDisplay", "../fonts/PlayfairDisplayBold/PlayfairDisplayBold", $file-formats: eot woff ttf)

body
	font-family: "ProximaNova-Regular"
	font-size: 14px
	line-height: normal
	color: #56534c


h1
	font-size: 92px
	color: #fff
	font-family: "PlayfairDisplay"

h2
	font-size: 60px
	color: #fff
	font-family: "Alegreya-Bold"

.h2-descrip
	font-size: 18px
	color: #c8a593
	font-family: "Alegreya-Bold"
	text-transform: uppercase

h3
	font-size: 48px
	font-family: "Alegreya-Bold"
	color: #56534c
	margin-bottom: 60px

.h3-descrip
	font-size: 14px
	color: #a47d5e
	font-family: "Alegreya-Bold"
	text-transform: uppercase
	display: block

h4
	font-size: 24px
	font-family: "Alegreya-Bold"

a
	text-decoration: none
	color: #fff

p
	line-height: 24px

.loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

.section-wrap
	padding: 90px 0

header, section, footer
	max-width: 1260px
	margin: 0 auto


.main-section
	height: 100vh
	min-height: 630px
	background: url(../images/main_bg.jpg)
	background-size: cover
	background-attachment: fixed
	text-align: center
	position: relative

	&:after
		content: ""
		position: absolute
		bottom: -57px
		left: calc( 50% - 53px)
		width: 106px
		height: 106px
		background: url(../images/main_section_after.png)

	.header-wrap
		background: rgba(86, 83, 76, 0.5)

		header
			height: 70px
			display: flex
			justify-content: space-between
			align-items: center
			box-sizing: border-box

			.logo-wrap
				.logo 
					a
						font-size: 30px
						font-family: "Scriptina"
						line-height: 18px
						letter-spacing: 4px

			nav
				width: 62%

				ul
					display: flex
					justify-content: space-between

					li
						width: 20%
						a
							font-size: 14px
							font-family: "Alegreya-Regular"
							text-transform: uppercase
							letter-spacing: 3px
							display: block
							position: relative
							padding: 15px 0
							
							&:after
								content: "~"
								position: absolute
								width: 10px
								height: 4px
								top: 15px
								right: -5px

						&:last-child						
							a
								&:after
									content: ""
									position: absolute
									width: 10px
									height: 4px
									top: 35%
									right: -5px
			.active-menu
				display: block
				animation: 
					name: h-menu
					duration: 500ms
					timing-function: ease-in-out
					fill-mode: forwards

				@keyframes h-menu
					0%
						opacity: 0
						transform: translateX(-100px) translateY(100px) rotate(-30deg)
					
					100%
						opacity: 1
						transform: translateX(0px) translateY(0px) rotate(0)

			.toggle-wrap
				display: none

				/*  button animation  */

				.toggle-button
					width: 30px
					height: 30px
					float: right
					margin: 10px 10px 0 0
					cursor: pointer
					span
						display: block


				$w: 28px
				$h: 3px

				.sandwich 
					width: $w
					height: $w
					margin: auto
					z-index: 200

				.sw-topper
					position: relative
					top: 0
					width: $w 
					height: $h
					background: rgb(255, 255, 255)
					border: none
					border-radius: 4px 4px 4px 4px
					transition: transform 0.5s, top 0.2s
					display: block
							
					//transition-delay: 0.2s, 0s


				svg
					path
						fill: #e0e0e0

				.sw-bottom
					position: relative
					width: $w
					height: $h
					top: $h * 2.2
					background: rgb(255, 255, 255)
					border: none
					border-radius: 4px 4px 4px 4px
					transition: transform 0.5s, top 0.2s
					transition-delay: 0.2s, 0s
				.sw-footer
					position: relative
					width: $w
					height: $h
					top: $h * 4.5
					background: rgb(255, 255, 255)
					border: none
					border-radius: 4px 4px 4px 4px
					transition: all 0.5s
					transition-delay: 0.1s
				.sandwich.active
					.sw-topper
						top: 9px
						transform: rotate(-45deg)
					.sw-bottom
						top: 6px
						transform: rotate(45deg)
					.sw-footer
						opacity: 0
						top: 0
						transform: rotate(180deg)
				
				/*  button animation end */

			.header__social
				width: 95px
				display: flex
				justify-content: space-between
				position: relative
				top: 5px
	
	h1
		margin: 24vh 0 15vh 0
		position: relative

		&:after
			content: ""
			width: 200px
			height: 20px
			position: absolute
			bottom: -7vh 
			left: calc( 50% - 100px)
			background: url(../images/h1_after.png) no-repeat center


	.h1-descrip
		color: #fff
		font-size: 24px
		line-height: 36px
		letter-spacing: 1px
		width: 45%
		margin: 0 auto
		margin-bottom: 10vh

	.main-section__button
		a
			display: block
			width: 200px
			height: 50px
			line-height: 50px
			text-align: center
			text-transform: uppercase
			font-size: 14px
			font-family: "Alegreya-Bold"
			letter-spacing: 3px
			background: rgba(86, 83, 76, 0.5)
			border: 2px dashed #95938e
			margin: 0 auto

.sw_first
	background: url(../images/section_1.jpg) no-repeat
	background-size: cover

	.section-1
		display: flex
		padding-top: 40px

		.section-1__left
			text-align: center
			width: 50%

			p
				width: 90%
				margin-bottom: 40px

			.section-1__cheef
				display: flex
				width: 80%
				margin: 30px auto 0
				justify-content: center
				align-items: center


				.center
					line-height: 0
					margin: 0 15px

					img
						border-radius: 100%

				.name
					font-size: 24px
					font-family: "Alegreya-Regular"
					padding: 15px 20px
					border-top: 1px solid #c2c1be
					border-bottom: 1px solid #c2c1be

			.section-1__quote
				font-size: 24px
				line-height: 30px
				font-family: "Scriptina"
				color: #a47d5e

			.quate
				font-size: 60px
				line-height: 24px
				color: #bebdbb
				width: 60%
				margin-left: auto
				margin-right: auto
			
			.top_quate
				margin-top: 30px
				text-align: left
				margin-bottom: -10px

			.bottom_quate
				text-align: right
				margin-top: -10px

		.section-1__right
			width: 50%
			img
				width: 100%

.sw_second
	background: url(../images/sw_second.jpg) no-repeat
	background-size: cover
	background-attachment: fixed
	
	.section-2

		.section-2__recipes
			width: 76%
			display: flex
			margin-top: 40px
			margin-left: auto
			margin-right: auto

			.section-2__left
				width: 40%
				background: #fff url(../images/section_2.jpg) no-repeat
				position: relative
				overflow: hidden

			.section-2__right
				background: #fff url(../images/section-2__rightl.png) no-repeat bottom right
				box-sizing: border-box
				padding: 40px
				width: 60%
				position: relative


				.section-2__ready
					font-family: "Alegreya-Bold"
					text-align: center
					width: 200px
					height: 200px
					background: url(../images/section-1__ready.jpg)
					box-sizing: border-box
					display: flex
					flex-direction: column
					justify-content: center
					box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45)
					position: absolute
					top: -40px
					right: -100px

					.title
						text-transform: uppercase
						font-size: 18px
						color: #a47d5e

					.time
						font-size: 92px
						line-height: 80px
						color: #dfc691

					.mins
						font-size: 18px
						color: #979285
				
				.section-2__menu
					background: #fff
					width: 50px 
					height: 50px
					padding-top: 16px
					padding-left: 19px
					box-sizing: border-box
					border-radius: 100%
					position: absolute
					left: -25px
					top: calc( 50% - 25px)
				
				p
					margin-bottom: 60px

				.section-2__slider
					width: 80%
					margin: 0 auto
					position: relative

					.slide
						float: left
						margin: 0 12px

						img
							border-radius: 100%
							width: 100%

.sw_third
	background: url(../images/section-3_bg.jpg) no-repeat
	background-size: cover

	h4
		color: #fff

	.section-3
		display: flex
	
		.section-3__left
			width: 50%
			text-align: center
			color: #c2beba

			.h2-descrip
				margin-bottom: 50px

			p
				margin-bottom: 30px
			
			.section-3__price
				margin-bottom: 40px
				font-size: 36px
				color: #dfc691
				position: relative

				&:after
					content: ""
					position: absolute
					background: url(../images/section-3__left_p_after.png) no-repeat
					width: 90px
					height: 27px
					bottom: -30px
					left: calc( 50% - 45px)

				&:last-child
					margin-bottom: 0
					&:after
						content: ""
						position: absolute
						background: none
						width: 90px
						height: 27px
						bottom: -30px
						left: calc( 50% - 45px)

		.section-3__right
			width: 50%
			overflow: hidden
			
			.section-3__right-inner
				background: url(../images/section-3__right.png) no-repeat
				box-sizing: border-box
				max-width: 470px
				float: right
				padding: 50px 11% 50px 7.87%
				text-align: center
				background-size: cover

				.section-3__right-header
					background: url(../images/section-3__right-header.png) bottom no-repeat
					background-size: 100%
					overflow: hidden
					padding: 0 10% 50px 10%

					.left
						float: left

					.right
						float: right
						text-align: right

				h3
					margin-top: 60px

				.section-3__more
					a
						color: #a47d5e
						font-size: 18px
						text-transform: uppercase
						display: block
						width: 190px
						height: 50px
						line-height: 50px
						font-family: "Alegreya-Bold"
						margin: 50px auto 0
						border: 1px solid #9e9c93

.sw-fourth
	background: url(../images/sw-fourth_bg.jpg) no-repeat
	background-size: cover
	text-align: center

	.section-4
		overflow: hidden
	
		.section-4__left
			float: left
			width: 300px

			.section-4__left-item
				
				img	
					border-radius: 100%

				h4
					color: #a47d5e

		.section-4__right
			float: right
			width: 68%

			img
				width: 100%

.footer-wrap
	background: #f3f1e9
	overflow: hidden
	padding: 50px 0 70px

	footer
		display: flex
		justify-content: space-between

		nav
			width: 38%
			border-top: 1px solid #a7a49f
			border-bottom: 1px solid #a7a49f

			ul
				display: flex
				justify-content: space-between

				li
					width: 33%
					text-align: center
					a
						font-size: 14px
						font-family: "Alegreya-Regular"
						text-transform: uppercase
						letter-spacing: 3px
						display: block
						color: #56534c
						padding: 25px
						position: relative

						&:after
							content: "~"
							position: absolute
							width: 10px
							height: 4px
							top: 35%
							right: -5px

					&:last-child						
						a
							&:after
								content: ""
								position: absolute
								width: 10px
								height: 4px
								top: 35%
								right: -5px

					
						

		.footer__logo
			overflow: hidden
			display: flex
			align-items: center
			a
				font-size: 30px
				font-family: "Scriptina"
				letter-spacing: 4px
				color: #56534c
				line-height: 20px
				position: relative
				top: -10px



@import media